[Unit]
Description=Apache Kafka Server
Documentation=http://kafka.apache.org/documentation.html
Requires=network.target
After=network.target

[Service]
Type=simple
Environment="LOG_DIR={{ kafka_log_dir }}"
WorkingDirectory={{ kafka_home_dir }}
User={{ kafka_user_name }}
Group={{ kafka_group_name }}
ExecStart={{ kafka_home_dir }}/bin/kafka-server-start.sh {{ kafka_conf_dir }}/server.properties
ExecStop={{ kafka_home_dir }}/bin/kafka-server-stop.sh
TimeoutSec=30
Restart=on-failure
SuccessExitStatus=143

[Install]
WantedBy=default.target